/**ADFFaces_Skin_File / DO NOT REMOVE**/
@
namespace af "http: //xmlns.oracle.com /adf/faces/rich";
 @namespace dvt "http: //xmlns.oracle.com /dss/adf/faces";


af |inputText:disabled::content {
	color: #000000 !important;
}

.DIFF_LEFT {
	color: Blue;
}

.DIFF_RIGHT {
	color: Red;
}

.DIFF_BOTH {
	color: Black;
}

/**
0	Black
1010	Blue
1020	Red
1030	Grey
1040	Orange
1050	Salmon
1080	Italic

**/
.Impact_NMQ_0 {
	color: Black;
}

.Impact_NMQ_1010 {
	color: Navy;
	font-weight: bold;
}

.Impact_NMQ_1020 {
	color: Red;
	font-weight: bold;
}

.Impact_NMQ_1030 {
	color: Gray;
	font-weight: bold;
}

.Impact_NMQ_1040 {
	color: Orange;
	font-weight: bold;
}

.Impact_NMQ_1070 {
	color: Green;
	font-weight: bold;
}

.Impact_NMQ_1080 {
	font-style: italic;
	font-weight: bold;
	color: Black;
}

.Impact_NMQ_1110 {
	font-style: normal;
	font-weight: bold;
	color: Black;
}

.Impact_SMQ_0 {
	color: Black;
}

.Impact_SMQ_1010 {
	color: Navy;
	font-weight: bold;
}

.Impact_SMQ_1020 {
	color: Red;
	font-weight: bold;
}

.Impact_SMQ_1030 {
	color: Gray;
	font-weight: bold;
}

.Impact_SMQ_1040 {
	color: Orange;
	font-weight: bold;
}

.Impact_SMQ_1050 {
	color: #FA8072;
	font-weight: bold;
}

.Impact_SMQ_1080 {
	font-style: italic;
	font-weight: bold;
	color: Black;
}

.Impact_CMQ_0 {
	color: Black;
}

.Impact_CMQ_1010 {
	color: Navy;
	font-weight: bold;
}

.Impact_CMQ_1020 {
	color: Red;
	font-weight: bold;
}

.Impact_CMQ_1030 {
	color: Gray;
	font-weight: bold;
}

.Impact_CMQ_1040 {
	color: Orange;
	font-weight: bold;;
}

.Impact_CMQ_1070 {
	color: Green;
	font-weight: bold;
}

.Impact_CMQ_1080 {
	font-style: italic;
	font-weight: bold;
	color: Black;
}

.Impact_CMQ_1110 {
	font-style: normal;
	font-weight: bold;
	color: Black;
}

.Impact_MQ_0 {
	color: Black;
}

.Impact_MQ_1010 {
	color: Navy;
	font-weight: bold;
}

.Impact_MQ_1020 {
	color: Red;
	font-weight: bold;
}

.Impact_MQ_1030 {
	color: Gray;
	font-weight: bold;
}

.Impact_MQ_1040 {
	color: Orange;
	font-weight: bold;
}

.Impact_MQ_1050 {
	color: #FA8072;
	font-weight: bold;
}

.Impact_MQ_1080 {
	font-style: italic;
	font-weight: bold;
	color: Black;
}

.SECONDARY_LINK {
	font-style: italic;
}

.TagSearchIconHidden af |inputListOfValues::search-icon-style {
	display: none;
}

.HistoricView {
	font-style: italic;
	font-weight: bold;
}

.breadcrumb {
	background-color: none !important;
	border: none !important;
}

/*=======================================*/
/*====         Custom Styles         ====*/
/*=======================================*/

.full-width {
	width: 100%;
}
.col-25p {
	width: 25%;
}
.label-right {
	float: right;
	margin-right: 20px;
	font-size: 14px !important;
}

.ui-column-filter {
	width: 60px !important;
	height: 10px !important;
	margin-top: 5px;
}

td.label-cell, td.value-cell {
	vertical-align: top;
}

td.label-cell label {
	line-height: 1.4;
	font-weight: 600;
}
td.value-cell {
	line-height: 1.4;
}
td .bordered {
	display: block;
	padding: 10px;
	border: solid 1px #bbb;
	margin-bottom: 10px;
}
.ui-text-wrap {
 	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera lt 7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	overflow-wrap: break-word;
   	-ms-word-break: break-all;
   	word-break: break-word;	   
   	-ms-hyphens: auto;
   	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
 		
 .uppercase {
	text-transform: uppercase !important;
}

.label-right {
	float: right;
	margin-right: 20px;
	font-size: 14px !important;
}

.grid-right {
	float: right;
	margin-right: 20px;
	font-size: 14px !important;
	height: 30px !important;
}

.ui-state-disabled {
	opacity: 0.7 !important;
}

.ui-hidden {
	display: none;
}
.green-colored {
	color: #00c119;
}
.green-colored:HOVER {
	color: #009912;
}

.red-colored {
	color: red;
	font-weight: bold;
}
.red-colored:HOVER {
	color: #ff6347;
	font-weight: bold;
}

.blue-colored {
	color: blue;
	font-weight: bold;
}
.blue-colored:HOVER {
	color: blue;
	font-weight: bold;
}

.grey-colored {
	color: grey;
	font-weight: bold;
}
.grey-colored:HOVER {
	color: #778899;
	font-weight: bold;
}

.orange-colored {
	color: orange;
	font-weight: bold;
}
.orange-colored:HOVER {
	color: #ffa500;
	font-weight: bold;
}

.italic {
	color: #000;
	font-style: italic;
	font-weight: bold;
}


.pink-colored {
	color: #ffc0cb;
	font-weight: bold;
}
.pink-colored:HOVER {
	color: #dda0dd;
	font-weight: bold;
}

.white-colored {
	color: #f5f5f5;
	font-weight: bold;
}
.white-colored:HOVER {
	color: #fffafa;
	font-weight: bold;
}

.text-center {
	text-align: center;
	vertical-align: middle;
}

/* Styles for primefaces:selectOneMenu */
.ui-selectonemenu.hide-disabled .ui-selectonemenu-item.ui-state-disabled {
    display: none;
}

/**================= Details form ======================**/
.pad-lr30 {
	padding: 0 30px;
}

/**================= Relations Tree Table ======================**/
.ui-treetable.ui-treetable-resultRelations .ui-treetable-selectable-node .ui-chkbox.ui-selection {
	display: none;
}

/**================= Relations/Hierarchy Search Form ==============**/
#termH {
	text-transform: uppercase;
}

.ui-treetable.ui-treetable-resultHier .ui-treetable-selectable-node .ui-chkbox.ui-selection {
	display: none;
}

/**============Impact assessment ======**/
.v-align-middle {
	vertical-align: middel;
}
.v-align-top {
	vertical-align: top;
}

.ui-treetable-currentListsAndSmqs table td>span,
.ui-treetable-futureListsAndSmqs table td>span{
	line-height: 28px;
}

.ui-treetable-currentListsAndSmqs .ui-treetable-scrollable-body,
.ui-treetable-futureListsAndSmqs .ui-treetable-scrollable-body {
	height: auto !important;
	max-height: 400px;
}

.ui-treetable-currentListsAndSmqs table td .ui-treetable-toggler,
.ui-treetable-futureListsAndSmqs table td .ui-treetable-toggler{
	margin-top: 6px;
}

.ui-selectcheckboxmenu-item .ui-chkbox .ui-chkbox-box {
	display: inline-block !important;
}